html, body{
    background-color: #f4f4f4;
}


/* White Navigation bar */

.white-nav-top{
    background: #fff;
    padding-top: 0;
    box-shadow: 0 8px 6px -9px #999;
    z-index:2;
}

.white-nav-top ul.navbar-nav > li > a{
    color: #212226;
}
.white-nav-top ul.navbar-nav > li > a:hover{
    color: #f4c613;
}

ul.navbar-nav > li > a.active{
    color: #f4c613;
    font-weight: 600;
}

/* Content box and items */
.content-box-md{
    padding-top: 70px; 
    margin-bottom:30px;

}



.mobile-item{
    margin-bottom: 20px;
    background-color: #fff;
    padding: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
    box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
    border-radius: 25px;
    padding-bottom:10px;

}

.mobile-item h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top:13px;
    
}

.mobile-item hr{
    width: 100px;
    height: 3px;
    background-color: #f4c613;
    margin: 0 auto;
    border:none;
}

.mobile-item {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}


.mobile-item:hover {
    background-color: #f4c613;
}

.mobile-item:hover h3,
 .mobile-item:hover p {
    color: #fff;
}

.mobile-item:hover hr{
    background-color: #fff;
}

.mobile-item:hover .btn-edit{
	background-color: #fff;
	color: #f4c613;
}

.mobile-details{
    margin: 10px 20px;
    margin-left:25px;
}

.mobile-details p{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.btn-edit{
	background-color: #f4c613;
	color:white;
	width:50%;
	height:30px;
	padding:0px;
	padding-top:4px;
	font-size: 15px;
	font-weight: 500;
	text-transform:none;
}

/* Order-details*/
.order-details{
    margin-bottom: 20px;
    background-color: #fff;
    padding: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
    box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
    border-radius: 10px;
    padding:5px 23px 7px 23px;
    margin-bottom: 50px;

}

.order-details h3{
    
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.order-details hr{

    width: 100%;
    height: 1px;
    background-color: #f4c613;
    margin: 0 auto;
    border:none;
    margin-bottom: 10px;
}

.order-details p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
}


/* **************
Orders
************* */


.table-content{
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
    box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
}

table thead tr{
    color: #f4c613;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

table tbody tr th{
    color: #f4c613;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

table tbody td{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 26px;
}

.btn-cancel{
    width: 100px;
    height: 26px;
    padding: 0px;
    padding-top:2px;
    text-transform: none;
    background-color: #EFEFEF;
    color: black;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.btn-cancel:hover,.btn-cancel:focus{
    border: none;
    background-color: #f4c613;
    color: white;
}


/* Footer */

footer{
    background-color: #212226;
}
